@font-face {
  font-family: "nerd";
  font-style: normal;
  font-weight: bold;
  src: local("nerd.otf"), url("fonts/nerd.otf") format("opentype");
}

#title {
  text-align: center;
  font-family: "nerd";
  font-size: 1.4rem;
  padding-top: 0%;
}

* {
  box-sizing: border-box;
  font-family: "nerd";
}

body {
  background: radial-gradient(
    108.19% 165.77% at 1.67% -32.72%,
    #2c2f36 10%,
    #040708 96.35%
  );
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#canvas {
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

p:not(.links) {
  text-align: left;
  padding: 1ex 5ex;
}

h1 {
  font-family: "nerd";
  text-align: left;
  padding: 0.5ex 1ex;
}

a {
  font-size: 1rem;
  color: #dbff00;
}

a:not(:hover) {
  text-decoration: none;
}

canvas:focus {
  touch-action: none;
  outline: none;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner 1s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
